@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
    font-size: 16px;
}

* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #141312;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}

#main {
    height: 20vw;
}

.pseudo-image {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.container-header {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#time {
    border: 1px solid white;
    font-size: 2rem;
    padding: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    margin-bottom: 10vh;
    margin-top: 1vh;
}

html {
    --res: calc(0.01 * 10vmin);
}

.btn {
    margin-top: 5vh;
    font-size: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    min-width: 10%;
    max-width: 100%;    
}
#button-text {
    border: 1px solid white;
    padding: 1vh;
    padding-left: 5vh;
    max-width: 10vh;
    padding-right: 5vh;
    transition: 0.2s;
}
#button-text:hover {
    transition: 0.2s;
    border: 1px solid rgb(248, 200, 111);
}
#button-text-selected {
    border: 1px solid rgb(248, 200, 111);
    padding: 1vh;
    transition: 0.2s;
}
